<!DOCTYPE html>
<html lang="ja">
<head>
<%
fontSubsetStr = '';
if (typeof parameters.headstr !== 'undefined' && Object.keys(parameters.headstr).length > 0) {
    fontSubsetStr += '&text=';
    for (const [key, val] of Object.entries(parameters.headstr)) {
        fontSubsetStr += val;
    }
}
-%>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no,address=no,email=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= parameters.title %> - <%= parameters.sitename %></title>
    <meta name="description" content="<%= parameters.description %>">
    <meta name="author" content="<%= parameters.author %>">

    <link href="./apple-touch-icon.png" rel="apple-touch-icon">
    <meta name="theme-color" content="<%= parameters.themecolor %>">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link href="./css/index.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Reggae+One&display=swap<%= fontSubsetStr %>" rel="stylesheet">
</head>